/* html {
    scroll-snap-type: y mandatory;
} */

/* div {
    scroll-snap-align: start;
} */

/* nav {
    scroll-snap-align: start;
} */

#header {
    position: relative; width: 1199.952px; height: 12.5vh; top: 1vh; left: 8.33vw; display: flex; flex-direction: row
}

#header-text-box {
    position: relative; height: 100%; width: 25%; left: 0;
}

#header-text {
    position: relative; font-size: 65px; font-family: Bakbak One; line-height: 10vh; font-weight: 400; top: -4vh
}

#header-link-box {
    position: relative; left: 60%; height: 100%; width: 15%;
}

#header-moon {
    height: 80%; width: 45%; position: relative; top: 10%; filter: brightness(40%)
}

#header-at {
    height: 80%; width: 45%; position: relative; top: 10%
}

/*  */

#upper-hero-div {
    position: relative; width: 1199.952px; height: 50vh; border-radius: 14px; background: linear-gradient(95deg, #614AEF 0.3%, #29B795 100%); box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25); top: 5vh; left: 8.33vw; display: flex; flex-direction: column
}

#upper-hero-icon {
    width: 33px; height: 32px; flex-shrink: 0; position: relative; left: 0.95vw; top: 1.5vh;
}

#upper-hero-text {
    font-family: Bai Jamjuree; font-size: 65px; font-weight: 600; color: #fff; position: relative; left: 3.5vw; top: 10vh; line-height: 0.75;
}

#upper-hero-text-span {
    font-size: 35px; font-weight: 30; line-height: normal
}

#upper-hero-button {
    width: 127px; height: 50px; background-color: #252525; position: relative; top: 10vh; left: 3.5vw; border-radius: 8px; box-shadow: 2px 2px 4px 0px rgba(256, 256, 256, 0.45);
}

#upper-hero-button-text {
    font-size: 20px; color: white; font-family: Bai Jamjuree; font-weight: 600; text-align: center
}

#hero-div {
    position: relative; width: 1199.952px; height: 19.51219512195122vh; display: flex; flex-direction: row; top: 10vh; left: 8.33vw;
}

#hero-card-1 {
    width: 23vw; background-color: #252525; color: white; height: 100%; border-radius: 8px; position: relative; display: flex; flex-direction: column; box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 430px) {

    .body {
        overflow-x: hidden;
    }

    #header {
        width: 280px;
        left: 10px;
        height: 50px;
        top: 10px;
    }

    #header-text {
        font-size: 30px;
    }

    #header-text-box {
        width: 30%;
        top: -5px;
    }

    #header-link-box {
        width: 30%;
        left: 40%;
    }

    #upper-hero-div {
        left: 10px;
        width: 280px;
        top: 20px;
        background: linear-gradient(135deg, #614AEF 0.3%, #29B795 100%);
    }

    #upper-hero-text {
        font-size: 35px;
        top: 25vh;
        width: 250px;
    }

    #upper-hero-text-span {
        font-size: 20px;
    }

    #upper-hero-button {
        top: 24vh;
    }

    #upper-hero-icon {
        width: 20px;
        height: 20px;
        top: 6px;
        left: 6px;
    }

    #hero-div {
        width: 280px;
        flex-direction: column
    }

    #hero-card-1 {
        
    }


}