@import url(//fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap);

.card {
  width: 22%;
  border-radius: 10px; height: 100%
}

#card-container {
  left: 13%;
  position: relative; display: flex; flex-direction: row;
  gap: 4%;
}

#magnify {
  border-radius: 10px 10px 0 0; width: 100%
}

#bulb, #rocket {
  border-radius: 10px 10px 0 0
}

#title-text {
  position: relative; top: 40%;
}

#main-div {
  height: 68%; width: 100%; display: flex;
}

@keyframes appear-left {
  0% {
    opacity: 0;
    transform: translateX(15px);
  } 50% {
    opacity: 100%;
    transform: translateX(15px);
  } 100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

.appear-left {
  animation: appear-left 2s ease;
}

@keyframes appear-right {
  0% {
    opacity: 0;
  } 50% {
    opacity: 0%;
  } 75% {
    opacity: 100%;
  }
}

.appear-right {
  animation: appear-right 4s ease;
}

#title-1, #title-2 {
  font-family: 'DM Sans', sans-serif;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(30px);
  } 50% {
    opacity: 100%;
    transform: translateX(30px);
  } 100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

.appear {
  position: relative;
  animation: appear 3s ease
}

body {
  background-color: black; overflow-x: hidden; height: 88vh;
}

#bg-grad {
  background-image: linear-gradient(50deg, hsl(240deg 100% 20%) 1%, hsl(225deg 100% 24%) 25%, hsl(218deg 100% 27%) 36%, hsl(213deg 100% 28%) 44%, hsl(207deg 100% 29%) 51%,hsl(201deg 100% 28%) 58%,hsl(195deg 100% 28%) 64%, hsl(187deg 100% 27%) 72%, hsl(180deg 100% 26%) 80%, hsl(173deg 79% 31%) 100%);
  height: 100%
}

#title-div {
  height: 22%; position: relative; width: 100%; text-align: center; color: white; font-family: 'DM Sans', sans-serif;
}

@media screen and (max-width: 768px){
  #main-div {
    display: flex;
    flex-direction: column;
  }

  #title-div {
    height: 22%; position: relative; width: 100%; text-align: center; color: white; font-family: 'DM Sans', sans-serif;
    position: relative;
    top: 2vh
  }

  .card {
    width: 75%;
  }

  #card-container {
    left: 12%;
    flex-direction: column;
    position: relative;
    top: 6vh;
    gap: 6vh;
  }

  html {
    overflow-x: hidden
  }

  body {
    height: 150%;
    width: 100%;
  }
}